* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor:pointer;
}


body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    min-height: 100%;
}

button {
    background: 0;
    border: 0;
    cursor: pointer;
}







/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    height: 84px;
    width: 100vw;
    /* position:absolute; */
    background-color: rgba(14, 14, 14, 0.9);
    position:fixed;
    z-index: 1;
    top:0;
   
}




.Logotitle a {
    cursor: pointer;
    height: 100%;


}


.Logotitle a img {
    width: 9rem;
    height: 40px;

}


.Logotitle h1 a {
    color: rgb(255, 255, 255);
    font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}



nav  {
    display: flex;
    align-items: center;
    margin: 8px  2rem  2px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 1rem;
    height: 2px;
    
}



nav ul a {
    color: rgb(249, 245, 245);
    font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;;
    padding: 0 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a:hover,
a:active {
    color:rgb(0,163,224);
}

nav ul #main-page {
    color:rgb(0,163,224);
}



/* tablets and up */
@media all and (min-width:767px) {
    header {
        padding: 0 5rem;
    }
    .Logotitle a img {
        width: 11rem;
    
}


nav  {
    margin: 8px  1rem  2px;
}

}


nav ul {
    width: 25rem;
    
}



@media all and (min-width:992px) {

   header {
    padding: 0 9rem;
   }
    
}


/* laptops big monitors and up */
@media all and (min-width:1200px) {

header {
    padding: 0 11rem;
}


.Logotitle a img {
    width: 18rem;
}


nav ul {
    width: 29rem;
    
}

nav ul li {
    padding: 0 1rem;
}
}
/* header end */








/* image-container */


main {
    width: 100vw;
}

#Slogan {
    width: 100vw;
}

 #imgcontainer {
    height: 436px;
    width: 100vw;
 }

 #imgcontainer img {
    height: 352px;
    object-fit: cover;
    object-position: center;
    width: 100vw; 
    margin-top: 84px;

} 

.slogan-text {
    position: absolute;
    width: 98rem;
    height: 7rem;
    top:11.5rem;
    left: 3rem;
    color: rgb(244, 244, 244);

}

.slogan-text h1 {
    width: 28rem;
    height: 4rem;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.6em;
}


.slogan-text h2 {
    width: auto;
    height: 6rem;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.6em;

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .slogan-text {
        left: 9rem;
    }


    .slogan-text h1 {
        font-size: 42px;

    }


    .slogan-text h2 {
        font-size: 35px;

    }
}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {   
    .slogan-text {
       left: 12rem;
    }

    }









/* img-bottom text */

.infoP {
    display: flex;
    flex-direction: column;
    gap:5rem;
    height: 464.76px;
    background-color: #2B2B2B;
    padding: 4rem 5rem 0;

}

.infoP P {
    color:#F4F4F4;
    font-size: 22px;
    font-weight: 300;
}

.infoP a {
    color:rgb(0,163,224);
    font-size: 20px;
}

.infoP a:hover {
    color: #a1a0a0;
    

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .infoP {
   gap:3rem;
   padding: 4rem 7rem 0;
    
    }
    .infoP P {
        font-size: 23px;
        padding-top: 2rem;
    }

    .infoP i {
        color:rgb(0,163,224);
        font-size: 20px;
    }


}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .infoP {
        gap:5rem;
        padding: 4rem 9rem 0;
         
         }    
         .infoP P {
            font-size: 28px;
        }
    


    }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {   

    .infoP {
        gap:2rem;
        padding: 1rem 12rem;

         
         }    
    .infoP P {
        font-size: 30px;
        padding-top: 3rem;
        line-height: 1.6em;
        
    }

    }






/* grid-choose course */

.choose-course {
    display:flex;
    flex-direction: column;
    padding: 3rem 0.2rem;
    height: 1486px;
    background-color: #161616;
    gap:2rem;
    justify-content: center;
    align-items: center;
    height: auto;
}

.choose-course h1 {
    color:#DBDBDB;
}
.parent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 2000px;
    width: auto;
    gap:0.2rem;

}

.choose-box {
    border:1px solid rgb(88, 88, 88);
    border-radius: 10px;
    background-color: #161616;
    display: flex;
    flex-direction: column;


}

.choose-box img{
    border-radius: 10px 10px 0 0 ;
    margin-bottom: 34px;

}


.box-text {
    margin-left: 2.2rem;

}

.choose-box h1 {
    color:#F4F4F4;
    font-size: 18px;;
    margin-bottom: 25px;

}

.choose-box p {
   color: rgb(244, 244, 244);
   font-size: 14px;
   margin-bottom: 10px;

}

.box-bottom {
    margin-left: 2.2rem;
    margin-top: 3rem;
    display: flex;
    gap:0.8rem;
    align-items:center;

}

.special-box-bottom {
   margin-bottom: 55px;


}


.box-bottom span {
    font-size: 18px;
    color:rgb(0,163,224);
}

.arrowLogo {
    pointer-events: none;

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .parent-grid {
        height: auto;
        width: auto;
        gap:3rem;
    
    }
    

    .box-bottom {
        margin-left: 2.2rem;
        margin-top: 4rem;
        display: flex;
        gap:0.8rem;
        align-items:center;
    
    }
    


}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {     
    .choose-course {
        padding: 4rem 0.2rem;
        gap:3rem;
        height: auto;
        align-items: center;
    }
    

    .parent-grid {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        height: 1314px;
    
    }


    .box-bottom {
        margin-top: 5rem;
    }


    }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .infoP p {
        width: 70vw;
    }
    
    .special-box-bottom {
        /* margin-top: 5rem; */
    
    } 
#courseMain-title {
    width: 73%;
    text-align: start;
}


    }


/* grid-bottom end */